@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400);

$orange: tomato;
$dark-gray: #222;
$light-gray: #555;
$transition-time: 1s;
$transition-ease: ease;

*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-gray;
  color: #fff;
  font-family: "Lato", sans-serif;
}
.wrap {
  overflow: hidden;
}
h1,
h3 {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.text {
  $height: 3em;
  width: 5em;
  height: $height;
  
  z-index: 20;
  font-size: 4rem;
  line-height: 1em;
  font-weight: 700;
  color: #fff;
  
  &:before, &:after {
    content: attr(title);
    display: block;
    
    overflow: hidden;
    
    transition: transform $transition-time $transition-ease;
  }
  &:before {
    height: $height/2;
    position: relative;
    z-index: 20;
    
    .is-over & {
      -webkit-transform: translate3d(-100vw, 0, 0);
      transform: translate3d(-100vw, 0, 0);
    }
  }
  &:after {
    width: inherit;
    padding-bottom: .09em;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    vertical-align: bottom;
    clip: rect($height/2 auto auto auto);
    
    .is-over & {
      -webkit-transform: translate3d(100vw, 0, 0);
      transform: translate3d(100vw, 0, 0);
    }
  }
}
