@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400);

body {
  font-family: "Lato", sans-serif;
}
h1,
h3 {
  text-align: center;
}
.center {
  display: table-cell;
   height: 395px;
   text-align: center;
   width: 222px;
   vertical-align: middle;
}
